[submodule "dev_modules/@ocdla/lib-http"]
	path = dev_modules/@ocdla/lib-http
	url = https://github.com/ocdladefense/node-lib-http
    branch = development
[submodule "dev_modules/@ocdla/salesforce"]
	path = dev_modules/@ocdla/salesforce
	url = https://github.com/ocdladefense/node-lib-salesforce
	branch = development
